<section class="create-post">
  <center>
  <h2 class="subtitle is-3" >Create New Post</h2>
  </center>
<div class="is-primary">
  <form class="box new-post-form">
    <div>
      <label for="post-title">Title</label>
      <input type="text" id="post-title" name="post-title" />
    </div>
    <div>
      <label for="post-url">Link</label>
      <input id="post-url" name="post-url" />
    </div>
    <button type="submit" class="button is-info">Create</button>
  </form>
  </div>
</section>


<div class="container is-widescreen">
    {{#if posts.length}}
    <section>
      <h2 class="post-header">Your Previous Posts</h2>
      <ul>
        {{#each posts as |post|}}
        <li>
          {{> post-info post}}
          <a href="/dashboard/edit/{{post.id}}" class="edit-link button is-primary is-link">Edit post</a>
        </li>
        {{/each}}
      </ul>
    </section>
    {{/if}}
</div>


<script src="/javascript/add-post.js"></script>